* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    padding: 1rem;
    min-width: 300px;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
    border-radius: 6px;
}

button {
    background-color: rgb(0, 200, 255);
    color: white;
    padding: 6px;
    border-radius: 4px;
    border: none;
    margin: 6px 0;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0,150, 200);
}

#author {
    font-size: 20px;
    font-weight: bold;
}

#category {
    text-transform: capitalize;
}